.demo-4 {
  --color-text: #fff;
  --color-bg: #171717;
  --color-link: #ff0000;
  --color-link-hover: #ff0000;
  --color-info: #ff0000;
  --canvas-size: 200vw;
  &,
  a {
    cursor: none;
  }
}

.demo-4 {
  .circle-cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 1;
    &--outer {
      width: 100vw;
      height: 100vh;
      z-index: 12000;
      border-radius: 0;
      border: 0;
    }
    &--inner {
      width: 5px;
      height: 5px;
      left: -2.5px;
      top: -2.5px;
      border-radius: 50%;
      z-index: 11000;
      background: var(--color-text);
    }
  }

  .content--demo3 {
    .grid {
      &__inner {
        justify-content: center;
      }
      &__link {
        display: flex;
        width: 76px;
        height: 76px;
        justify-content: center;
        align-items: center;
        svg {
          width: 30px;
          height: 30px;
          path {
            fill: var(--color-text);
            transition: all 0.2s ease 0s;
          }
        }
        &:hover {
          svg path {
            fill: var(--color-link);
            transition: all 0.2s ease 0.05s;
          }
        }
      }
    }
  }
}
