.demo-4 {
  --color-text: #fff;
  --color-bg: #171717;
  --color-line: #292929;
  --color-link: #ff0000;
  --color-link-hover: #ff0000;
  --color-info: #ff0000;
  &,
  a {
    cursor: none;
  }

  .circle-cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    &--outer {
      width: 100vw;
      height: 100vh;
      z-index: 12000;
    }
    &--inner {
      width: 5px;
      height: 5px;
      left: -2.5px;
      top: -2.5px;
      border-radius: 50%;
      z-index: 11000;
      background: var(--color-text);
    }
  }

  .grid {
    position: absolute;
    padding: calc(1.5em + 42px + 1.5em) 1.5em;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &__inner {
      justify-content: center;
      display: flex;
      width: 100%;
    }
  }

  @import "_browser-window.scss";
}
