.demo-3 {
  --color-text: #fff;
  --color-bg: #171717;
  --color-line: #292929;
  --color-link: #ff0000;
  --color-link-hover: #ff0000;
  --color-info: #ff0000;
  &,
  a {
    cursor: none;
  }
}

.circle-cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  border-radius: 50%;
  opacity: 0;
  &--outer {
    width: 30px;
    height: 30px;
    border: 1px solid var(--color-text);
    z-index: 12000;
  }
  &--inner {
    width: 5px;
    height: 5px;
    z-index: 11000;
    background: var(--color-text);
  }
}

.content--demo3 {
  .grid {
    &__inner {
      justify-content: center;
    }
    &__browser {
      &-window {
        width: calc(100% - 100px);
        max-width: 960px;
        height: 350px;
        border: 1px solid var(--color-line);
        border-radius: 10px 10px 0 0;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -5px;
          width: 104%;
          height: 150px;
          background: red;
          display: block;
          transform: translateX(-2%);
          background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 0%,
            var(--color-bg) 50%,
            var(--color-bg) 100%
          );
        }
        &-bar {
          height: 25px;
          display: flex;
          align-items: center;
          .dot {
            width: 11px;
            height: 11px;
            border-radius: 5px;
            background: var(--color-line);
            margin-left: 8px;
            &:first-child {
              margin-left: 12px;
            }
          }
        }
      }
      &-content {
        border-top: 1px solid var(--color-line);
        display: flex;
        justify-content: space-between;
        padding: 20px;
        &-right {
          display: flex;
          .grid__link {
            margin-left: 10px;
          }
        }
      }
    }
    &__link {
      display: flex;
      width: 75px;
      height: 75px;
      justify-content: center;
      align-items: center;
      .hamburger {
        display: block;
        width: 26px;
        height: 18px;
        position: relative;
        span {
          display: block;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
          height: 2px;
          background: var(--color-text);
          z-index: 0;
          &:nth-child(1) {
            top: 0px;
          }
          &:nth-child(2) {
            top: 8px;
          }
          &:nth-child(3) {
            top: 16px;
          }
          &:before,
          &:after {
            position: absolute;
            content: "";
            display: block;
            top: 0;
            height: 100%;
            width: 0;
            right: 0;
            left: auto;
          }
          &:before {
            z-index: 1;
            background: var(--color-link);
            transition: all 0.15s linear 0s;
          }
          &:after {
            z-index: 2;
            background: var(--color-bg);
            transition: all 0.15s linear 0.3s;
          }
          &:nth-child(2):before {
            transition-delay: 0.15s;
          }
          &:nth-child(3):before {
            transition-delay: 0.3s;
          }
          &:nth-child(2):after {
            transition-delay: 0.45s;
          }
          &:nth-child(3):after {
            transition-delay: 0.6s;
          }
        }
      }
      .settings {
        display: flex;
        width: 28px;
        height: 25px;
        justify-content: space-between;
        &__item {
          position: relative;
          flex: 0 0 6px;
          .line {
            width: 2px;
            height: 100%;
            background: var(--color-text);
            margin-left: 2px;
            transition: all 0.2s linear 0s;
          }
          .knob {
            width: 6px;
            height: 6px;
            border: 2px solid var(--color-text);
            background: var(--color-bg);
            position: absolute;
            left: 0px;
            top: 4px;
            transition: all 0.2s ease 0s;
          }
          &:nth-child(2) .knob {
            top: 14px;
          }
          &:nth-child(3) .knob {
            top: 6px;
          }
        }
      }
      svg {
        width: 30px;
        height: 30px;
        path {
          fill: var(--color-text);
          transition: all 0.2s ease 0s;
        }
      }
      .magnifyer {
        transition: all 0.2s ease;
      }
      &:hover {
        svg path {
          fill: var(--color-link);
          transition: all 0.2s ease 0.05s;
        }
        .hamburger {
          span {
            &:after,
            &:before {
              width: 100%;
              left: 0;
              right: auto;
            }
            &:after {
              z-index: 1;
              transition: all 0.15s linear 0s;
            }
            &:before {
              z-index: 2;
              transition: all 0.15s linear 0.3s;
            }
            &:nth-child(2):after {
              transition-delay: 0.15s;
            }
            &:nth-child(3):after {
              transition-delay: 0.3s;
            }
            &:nth-child(2):before {
              transition-delay: 0.45s;
            }
            &:nth-child(3):before {
              transition-delay: 0.6s;
            }
          }
        }
        .settings__item {
          .line {
            background-color: var(--color-link);
            transition: all 0.2s ease 0.05s;
          }
          .knob {
            border-color: var(--color-link);
            transition: all 0.2s ease 0.05s;
          }
          &:nth-child(1) .knob {
            top: 14px;
          }
          &:nth-child(2) .knob {
            top: 6px;
          }
          &:nth-child(3) .knob {
            top: 12px;
          }
        }
        .avatar__head {
          transform: translateY(-3px);
        }
        .magnifyer {
          transform: rotate(88deg);
          transform-origin: 45% 43%;
        }
      }
    }
  }
}
