.demo-5 {
  --color-text: #fff;
  --color-bg: #171717;
  --color-line: #464646;
  --color-link: #2edf16;
  --color-link-hover: #2edf16;
  --color-info: #2edf16;

  --image-height: 55vh;
  --cursor-width: 22px;
  --link-width: 35px;

  cursor: none !important;
  a {
    cursor: none;
  }

  .grid {
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }

  .square-cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 1;
    z-index: 5000;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__inner {
      width: var(--cursor-width);
      height: var(--cursor-width);
      border: 1px solid var(--color-link);
      z-index: 5000;
      transform: rotate(-45deg);
    }
  }

  .grid__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .image-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
      &__inner {
        height: var(--image-height);
        width: 0;
        padding-left: calc(var(--image-height) * 3 / 2);
        background: #2b2b2b;
        position: relative;
      }
      &__img {
        opacity: 0;
        transition: none;
        &.is-visible.lazyloaded {
          opacity: 1;
          transition: none;
        }
      }
    }
    .nav {
      display: flex;
      width: auto;
      &__link {
        display: inline-flex;
        width: var(--link-width);
        height: var(--link-width);
        border: 1px solid var(--color-line);
        justify-content: center;
        align-items: center;
        letter-spacing: 2px;
        font-size: 0.8em;
        color: var(--color-line);
        transition: none;
        &:not(:last-child) {
          border-right: 0;
        }
        &:hover,
        &.is-active {
          color: var(--color-link);
        }
        &.is-active {
          border: 1px solid var(--color-link);
        }
      }
    }
  }
}
