.demo-3 {
  --color-text: #fff;
  --color-bg: #171717;
  --color-link: #ff0000;
  --color-link-hover: #ff0000;
  --color-info: #ff0000;
  --button-size: 100px;
  cursor: none !important;
}

.demo-4 {
  .circle-cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    border-radius: 50%;
    opacity: 0;
    &--outer {
      width: var(--button-size);
      height: var(--button-size);
      border: 0;
      z-index: 5000;
    }
    &--inner {
      width: 5px;
      height: 5px;
      z-index: 4000;
      background: var(--color-text);
    }
    &__canvas {
      width: 100%;
      height: 100%;
    }
    &.is-stuck {
      .circle-cursor__canvas {
        border: 2px solid var(--color-bg);
      }
    }
  }

  .content--demo3 {
    .grid {
      &__inner {
        justify-content: center;
      }
      &__link {
        display: flex;
        width: 76px;
        height: 76px;
        margin: 0 30px;
        justify-content: center;
        align-items: center;
        cursor: none !important;
        svg {
          width: 30px;
          height: 30px;
          path {
            fill: var(--color-text);
            transition: all 0.2s ease 0s;
          }
        }
        &:hover {
          svg path {
            fill: var(--color-link);
            transition: all 0.2s ease 0.05s;
          }
        }
      }
    }
  }
}
