body.tutorial {
  --color-text: #fff;
  --color-bg: #171717;
  --color-line: #292929;
  --color-link: #ff0000;
  --color-link-hover: #ff0000;
  --color-info: #ff0000;
  opacity: 1 !important;
  background-color: var(--color-bg);
}
.tutorial {
  .page {
    position: absolute;
    padding: calc(1.5em + 42px + 1.5em) 1.5em;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page__inner {
    justify-content: center;
    display: flex;
    width: 100%;
  }

  .page,
  .page a {
    cursor: none;
  }

  .cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
  }

  .cursor--small {
    width: 5px;
    height: 5px;
    left: -2.5px;
    top: -2.5px;
    border-radius: 50%;
    z-index: 11000;
    background: var(--color-text);
  }

  .cursor--canvas {
    width: 100vw;
    height: 100vh;
    z-index: 12000;
  }

  .nav {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .link {
    display: flex;
    width: 75px;
    height: 75px;
    margin: 0 5px;
    justify-content: center;
    align-items: center;
  }

  .settings-icon {
    display: block;
    width: 40px;
    height: 40px;
  }

  .settings-icon__line {
    stroke: var(--color-text);
    stroke-width: 5px;
    transition: all 0.2s ease 0.05s;
  }

  .settings-icon__rect {
    stroke: var(--color-text);
    fill: var(--color-bg);
    stroke-width: 5px;
    transition: all 0.2s ease 0.05s;
  }

  .link:hover .settings-icon__line,
  .link:hover .settings-icon__rect {
    stroke: var(--color-link);
    transition: all 0.2s ease 0.05s;
  }

  .link:hover .settings-icon__group--1 .settings-icon__rect {
    transform: translateY(20px);
  }
  .link:hover .settings-icon__group--2 .settings-icon__rect {
    transform: translateY(-20px);
  }
  .link:hover .settings-icon__group--3 .settings-icon__rect {
    transform: translateY(25px);
  }
}
